---
layout: default
---
<div class="hamburger">
    <a href="#" id="hamburgerButton"><i class="icon-hamburger icon-2x"></i></a>
</div>
<div class="blog-wrapper">
  <div id="menu" class="back">
    <div class="contained">
      <ul>
        {% for post in site.posts %}
          <a href="{{ post.url }}" class="no-link">
            <div class="post-snippet">
              <p class="post-date">{{post.date | date_to_string }}</p>
              <h1 class="post-title {{post.layout}}">{{ post.title }}</h1>
              <div class="{{post.layout}} post-body">
                <div class="post-excerpt">{{ post.excerpt | markdownify }}</div>
              </div>
            </div>
          </a>
        {% endfor %}
      </ul>
    </div>
  </div>

  <div id="post" class="front">
    <div class="contained">
      {{ content }}
    </div>
  </div>

  <div class="paginator">
    <ul>
      <li class="newer"><a href="#"><i class="icon-back"></i>Newer Post</a></li>
      <li class="older"><a href="#">Older Post<i class="icon-forward"></i></a></li>
    </ul>
  </div>
</div>
